@font-face {
  font-family: 'icons';
  src:  url('fonts/icons/icomoon.eot?w21o6o');
  src:  url('fonts/icons/icomoon.eot?w21o6o#iefix') format('embedded-opentype'),
    url('fonts/icons/icomoon.ttf?w21o6o') format('truetype'),
    url('fonts/icons/icomoon.woff?w21o6o') format('woff'),
    url('fonts/icons/icomoon.svg?w21o6o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: "Cormorant";
    src: url(fonts/Cormorant/Cormorant-Bold.otf) format("embedded-opentype");
}

html, body {
  margin: 0px;
  padding: 0px;
}

header {
  width: 100%;
  /*height: 100px;*/
}

header h1 {
  font-family: "Helvetica Neue", Helvetica;
  color: #333;
  text-align: center;
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  margin-top: 50px;

}

header p {
  font-family: "Helvetica Neue", Helvetica;
  color: #333;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1px;
  margin-top: 5px;
}

.wrapper {
  margin: 0 10% 0 20%;
}

nav {
  position: fixed;
  width: 12%;
  top: 190px;
}

#top-menu {
  list-style: none;
  padding-left: 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 145px;
}

#top-menu .menu-title:first-child {
  margin-top: 0;
}
#top-menu .menu-title {
   color: #333;
   font-size: 18px;
   font-weight: bold;
   margin-top: 15px;
 }

 #top-menu li {
   font-family: "Helvetica Neue", Helvetica;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.1px;
   margin-top: 5px;
 }

#top-menu li a {
   text-decoration: none;
   color: #555;
   -webkit-transition: .5s all ease-out;
   -moz-transition: .5s all ease-out;
   transition: .5s all ease-out;
   width: 125px;
   text-align: right;
 }

#top-menu li a:hover {
   color: #50ADAD;
 }

 #top-menu li.active a {
    color:#495ADF;
    /*border-bottom: 1px solid blue;*/
  }

  .cool-link {
      display: inline-block;
      color: #50ADAD;
      text-decoration: none;
  }

  .cool-link::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background: #495ADF;
      transition: width .3s;
  }

  .cool-link:hover::after {
      width: 100%;
      background: #50ADAD;
  }

  .cool-link.active:after {
      width: 100%;
      background: #495ADF;
  }


h2 {
  font-family: "Helvetica Neue", Helvetica;
  color: #333;
  text-align: left;
  font-size: 30px;
  line-height: 1.2;
  font-weight: bold;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  margin-top: 75px;
  margin-left: -40px;
  border-bottom: 1px solid #eee;
}

h3 {
  font-family: "Helvetica Neue", Helvetica;
  color: #555;
  text-align: left;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.1px;
  margin-bottom: 0px;
  margin-top: 50px;
  margin-left: -20px;
  /*border-bottom: 1px solid #eee;*/
}

h4 {
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    color: #777;
    margin-top: 20px;
}

p {
    font-family: "Helvetica Neue", Helvetica;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #555;
}

/************ GRID SYSTEM **************/


.Size-1of1 {
  width: 100%;
  height: 100px;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Size-1of1 p,
.Size-1of2 p {
  background-color: #333;
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Size-1of1 p {
  margin: 0 20px;
}
.Size-1of2:first-child p {
  margin: 0 10px 0 20px;
}
.Size-1of2 p {
  margin: 0 20px 0 10px;
}

.Size-2of2 {
  width: 100%;
  height: 100px;
  background-color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Size-1of2 {
  width: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************ COLORS **************/

.color-example-1st{
  margin-top: 15px!important;
}

.color-example {
    font-family: "Helvetica Neue", Helvetica;
    padding: 5px;
    width: 50%;
    text-indent: 51%;
    white-space: nowrap;
    margin: 5px 0 0 0;
}

.gray-color-1 {
    background: #f5f5f5;
    color: #f5f5f5;
}

.gray-color-2 {
  background: #353535;
  color: #353535;
}

.gray-color-3 {
	background: #252525;
  color: #252525;
}

.content-color-1 {
  background: #D6435A;
  color: #D6435A;
}

.content-color-2 {
  background: #50ADAD;
  color: #50ADAD;
}

.content-color-3 {
  background: #E4753F;
  color: #E4753F;
}

.content-color-4 {
  background: #F2B444;
  color: #F2B444;
}

.content-color-5 {
  background: #495ADF;
  color: #495ADF;
}

/************ TYPOGRAPHY **************/
/************ HEADINGS **************/

.headings-style,
.subpage-style,
.column-title,
.body-content-style,
.section-title,
.section-subtitle {
  display: flex;
  justify-content: space-between;
}

.subpage-style,
.column-title,
.body-content-style,
.section-title,
.section-subtitle {
  border-top: 1px solid #eee;
}


.headings-style p,
.subpage-style p,
.column-title p,
.section-title p,
.section-subtitle p {
  margin-top: 20px;
  font-weight: 300;
  color: #888;
  opacity: 0.5;
}

.headings-style p:first-child,
.subpage-style p:first-child,
.column-title p:first-child,
.body-content-style p:first-child,
.section-title p:first-child,
.section-subtitle p:first-child {
  color: #555;
}
.headings-style p {
  font-size: 48px;
	font-family: 'Ubuntu', 'helvetica neue';
}
.subpage-style p {
  font-size: 25px;
	font-family: 'Cormorant';
	font-weight: 700;
}
.column-title p {
	font-family: 'Cormorant';
	font-size: 36px;
	font-weight: bold;
}

.section-title p {
	font-size: 36px;
	font-family: 'Ubuntu', 'helvetica neue';
}

.section-subtitle p {
	font-family: 'Cormorant';
	font-size: 30px;
	font-weight: bold;
}


.body-content-style p {
	font-size: 18px;
	font-family: 'Ubuntu', 'helvetica neue';
  font-weight: 300;
  margin-top: 20px;
  color: #888;
	opacity: 0.5;
}

/************ PARAGRAPHS **************/

h4 .para-section {
  margin-bottom:0;
  font-weight: 500;
}

.default-text{
  margin-top: 0;
  max-width: 635px;
  line-height: 24px;
	letter-spacing: 0.5px;
}

.default-text {
  font-size: 18px;
	line-height: 28px;
	font-family: 'Ubuntu', 'helvetica neue';
}

.column-sub {
  display: flex;
  margin-top: 10px;
  text-align: left;
  font-weight: 300;
}
.column-sub .column {
	padding: 0 20px;
}
.sub-section-title {
	font-size: 36px;
	font-family: 'Cormorant';
	font-weight: 700;
	margin-top: 0;
}
/************ BUTTONS **************/

.btn {
  color: #fff;
	background: #252525;
  cursor: pointer;
  display: block;
  font-size:18px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto;
  max-width: 250px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
	font-family: "Ubuntu", Helvetica;
	text-align: center;
	font-weight: 300;
	letter-spacing: 1px;
	height: 45px;
	-webkit-transition: height 0.2s, background-color 0.2s; /* For Safari 3.1 to 6.0 */
	transition: height 0.2s, background-color 0.2s;
}

.btn:hover {
	height: 43px;
	background-color: #353535 ;
	/*width: 242px;*/
}

.bg-btn {
		margin-top: 20px;
    width: 250px;
		height: 48px;
		background: #F2B444; /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left, #F2B444, #E4753F, #D6435A, #495ADF, #50ADAD); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(left, #F2B444, #E4753F, #D6435A, #495ADF, #50ADAD); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(left, #F2B444, #E4753F, #D6435A, #495ADF, #50ADAD); /* For Firefox 3.6 to 15 */
		background: linear-gradient(left, #F2B444, #E4753F, #D6435A, #495ADF, #50ADAD); /* Standard syntax (must be last) */
}
/*.bg-btn:hover {
	display: flex;
	justify-content: center;
	align-items: center;
}*/

/*.btn-1 {
  font-family: "Ubuntu", Helvetica;
  text-align: center;
  font-weight: 300;
  letter-spacing: 1px;
}

.btn-1 svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-1 rect {
    fill: none;
    stroke: #555;
    stroke-width: 2;
    stroke-dasharray: 422, 0;
}


.btn-1:hover {
  background: rgba(0, 0, 0, 0);
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}*/



/************ NAVIGATORS **************/

button{font-size:100%;}

/* General styles */

.nav {
    position: inherit;
    margin-top: 20px;
}

.nav__item {
	line-height: 1;
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	letter-spacing: 0;
	color: currentColor;
	border: 0;
	background: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav__item:focus {
	outline: none;
}

.nav--zahi .nav__item {
	width: 2em;
	height: 4em;
}

.nav--zahi .nav__item::before {
  font-family: 'icons';
  position: absolute;
  font-size: 25px;
  top: 55%;
  z-index: 1;
  margin: 5px 0px 0px -6px;;
  color: #555;
  -webkit-transition: -webkit-transform 0.3s, background 0.3s, color 0.3s;
	transition: transform 0.3s, background 0.3s, color 0.3s;
}
.nav--zahi .nav__item-1::before {
  content: "\e905";
}
.nav--zahi .nav__item-2::before {
  content: "\e904";
}
.nav--zahi .nav__item-3::before {
  content: "\e90b";
}
.nav--zahi .nav__item-4::before {
  content: "\e903";
}

.nav--zahi .nav__item::after {
	content: '';
	position: absolute;
}

.nav--zahi .nav__item::after {
  top: 55%;
  left: 0;
  width: 40px;
  height: 40px;
  margin: -5px 0 0 0;
  border: 2px solid #555;
  border-radius: 50%;
	/*background: #555;*/
	-webkit-transition: -webkit-transform 0.3s, border-color 0.3s, background 0.3s;
	transition: transform 0.3s, border-color 0.3s, background 0.3s;
}

.nav--zahi .nav__item--current::after {
	/*border-width: 1px;*/
  background: #333;
  border: 2px solid #333;
	/*-webkit-transform: scale3d(1.5,1.5,1);
	transform: scale3d(1.5,1.5,1);*/
}

.nav--zahi .nav__item--current::before {
	/*border-width: 1px;*/
  color: #fff;
	/*-webkit-transform: scale3d(2,2,1);
	transform: scale3d(2,2,1);*/
}

.nav--zahi .nav__item:not(.nav__item--current):focus::after,
.nav--zahi .nav__item:not(.nav__item--current):hover::after {
	border-color: #777;
	background-color: #777;
}

.nav--zahi .nav__item:not(.nav__item--current):focus::before,
.nav--zahi .nav__item:not(.nav__item--current):hover::before {
	color: #fff;
}

.nav--zahi .nav__item-title {
  font-family: "Helvetica Neue", Helvetica;
	line-height: 1.5;
	display: block;
	position: relative;
  padding: 2em 0 0 3em;
	white-space: nowrap;
	color: #555;
  -webkit-transition: -webkit-transform 0.3s ease-in, -webkit-opacity 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in, -moz-opacity 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in, -o-opacity 0.3s ease-in;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.nav--zahi .nav__item--current .nav__item-title {
	opacity: 1;
	color: #333;
  transform: translateX(10px);
  font-weight: 500;
}

/************ FOOTER **************/

footer{
  height: 50px;
  width: 100%;
  background-color: #252525;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
footer p {
  color: #fff;
}

/************ IMG **************/

.logo-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo-container p {
	text-align: left;
  font-family: 'Ubuntu', sans-serif;
}

.logo-container div{
	display: flex;
	align-items: center;
}

.p-130x {
	font-size: 18px;
	color: rgb(37, 37, 37);
  margin-left: -20px;
}
.p-315x {
	font-size: 44px;
	color: rgb(37, 37, 37);
  margin-left: -50px;
}
.p-500x{
		font-size: 70px;
		color: rgb(37, 37, 37);
    margin-left: -80px;
}

.img-bg {
	width: 100%;
  margin-top: 20px;
}

/************ ICONS **************/

input, fieldset {
  font-family: sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  color: inherit;
  line-height: 1.5;
  height: 1.5em;
  padding: .25em 0;
}
input:focus {
  outline: none;
  box-shadow: inset 0 -2px #449fdb;
}
.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.fgc1 {
  color: #999;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mls {
  margin-left: .25em;
  font-family: "Helvetica Neue", Helvetica;
  font-size: 25px;
  color: #555;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.unit {
  float: left;
  color: #555;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix {
  font-family: 'icons' ;
  margin-top: 20px;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.fs0 {
  font-size: 16px;
      margin-top: 0;
}
.fs1 {
  font-size: 32px;
}



.icon-moins:before {
  content: "\e900";
  color: #555;
}
.icon-plus:before {
  content: "\e901";
  color: #555;
}
.icon-coeur:before {
  content: "\e902";
  color: #555;
}
.icon-game:before {
  content: "\e903";
  color: #555;
}
.icon-history:before {
  content: "\e904";
  color: #555;
}
.icon-house:before {
  content: "\e905";
  color: #555;
}
.icon-lizard:before {
  content: "\e906";
  color: #555;
}
.icon-mouse:before {
  content: "\e907";
  color: #555;
}
.icon-paper:before {
  content: "\e908";
  color: #555;
}
.icon-pouce:before {
  content: "\e909";
  color: #555;
}
.icon-rock:before {
  content: "\e90a";
  color: #555;
}
.icon-rules:before {
  content: "\e90b";
}
.icon-scissors:before {
  content: "\e90c";
  color: #555;
}
.icon-spock:before {
  content: "\e90d";
  color: #555;
}
/************ IAN MSG **************/

.ian-msg {
	display: none;
}

/************ MEDIA QUERIES **************/

@media screen and (max-width: 1300px) {
  .wrapper {
    display:none;
  }
	#top-menu {
		display: none;
	}
	footer {
		display: none;
	}
	.ian-msg {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 400px;
		width: 100%;
	}
	.ian-msg p {
	font-family: "Helvetica Neue", Helvetica;
	font-size: 36px;
	color: #555;
	}
}

@media screen and (min-width: 1900px) {
	nav{
		left: 5%;
	}
}
